[Desktop Entry]
Type=Application
Name=LTools
Comment=Auditoría y mantenimiento seguro del sistema
Exec=ltools %U
Icon=ltools
Terminal=false
Categories=System;
